#resize-pic {
    margin-left: 2%;
    width: 95% ;
    height: 90%;
}
#div1-size {
    width: 100%;
    height: 100%;
}
.notify {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    background: #222436;
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px 20px;
    display: none;
}

/* responsive for mobile  */
@media only screen and (max-width: 768px) {
    #flex-box {
        display: flex;
        flex-direction: column-reverse;
      }
    #section1 {
        order: 1;
    }
    #section2 {
        margin-top: 14%;
        width: 70%;
    }
    #font-size {
        font-size: xx-large;
    }
    .font-size {
        font-size: larger;
    }
}